body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.hero {
    height: 80vh;
    background: url("images/avatar.jpeg") center/cover no-repeat;
}

.content {
    padding: 50px;
}

.small-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
}

button {
    padding: 10px 20px;
    background-color: cyan;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}